@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.header-3-1 .modal-backdrop.show {
  background-color: #ffffff;
  opacity: 0.6;
}
.header-3-1 .modal-item.modal {
    top: 2rem;
  }

.header-3-1 .navbar {
    padding: 2rem 2rem;
}

  .header-3-1 .navbar-light .navbar-nav .nav-link {
    font: 300 0.875rem/1.5rem Poppins, sans-serif;
    color: #e8f1ff;
    padding: 0rem 1.25rem 0rem 0rem;
    margin-right: 0;
    margin-left: 0;
  }

  .header-3-1 .navbar-light .navbar-nav .nav-link:hover {
    font: 500 0.875rem/1.5rem Poppins, sans-serif;
    color: #ffffff;
  }

  .header-3-1 .navbar-light .navbar-nav .active {
    position: relative;
    width: fit-content;
  }

  .header-3-1 .navbar-light .navbar-nav .active>.nav-link,
  .header-3-1 .navbar-light .navbar-nav .nav-link.active,
  .header-3-1 .navbar-light .navbar-nav .nav-link.show,
  .header-3-1 .navbar-light .navbar-nav .show>.nav-link {
    font-weight: 500;
  }

  .header-3-1 .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  .header-3-1 .btn:focus,
  .header-3-1 .btn:active {
    outline: none !important;
  }

  .header-3-1 .btn-fill {
    font: 500 0.875rem/1.25rem Poppins, sans-serif;
    border: 1px solid #ff7468;
    background-color: #ff7468;
    border-radius: 999px;
    padding: 0.75rem 1.5rem;
    transition: 0.3s;
  }

  .header-3-1 .btn-fill:hover {
    background-color: #ff8378;
    border: 1px solid #ff8378;
  }

  .header-3-1 .btn-no-fill {
    font: 500 0.875rem/1.25rem Poppins, sans-serif;
    color: #e8f1ff;
    padding: 0.75rem 2rem;
  }

  .header-3-1 .btn-no-fill:hover {
    color: #ffffff;
  }

  .header-3-1 .modal-item .modal-dialog .modal-content {
    border-radius: 8px;
  }

  .header-3-1 .responsive li {
    padding: 1rem;
  }

  .header-3-1 .hr {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .header-3-1 .hero {
    padding: 4rem 2rem;
  }

  .header-3-1 .left-column {
    margin-bottom: 0.75rem;
    width: 100%;
  }

  .header-3-1 .title-text-big {
    font: 600 2.25rem / normal Poppins, sans-serif;
    margin-bottom: 1.25rem;
    color: #fefefe;
  }

  .header-3-1 .text-caption {
    font: 300 1rem/1.5rem Poppins, sans-serif;
    letter-spacing: 0.025em;
    color: #e8f1ff;
    margin-bottom: 5rem;
  }

  .text-caption-edit {
    font: 300 1.2rem/1.5rem Poppins, sans-serif;
    letter-spacing: 0.025em;
    color: #e8f1ff;
    margin-bottom: 5rem;
  }

  .header-3-1 .btn-get {
    font: 600 1rem/1.5rem Poppins, sans-serif;
    padding: 1rem 2rem;
    border-radius: 999px;
    border: 1px solid #ff7468;
    background-color: #ff7468;
    transition: 0.3s;
  }

  .header-3-1 .btn-get:hover {
    background-color: #ff8378;
    border: 1px solid #ff8378;
  }

  .header-3-1 .btn-outline {
    font: 400 1rem/1.5rem Poppins, sans-serif;
    padding: 1rem 1.5rem;
    border-radius: 999px;
    background-color: transparent;
    border: 1px solid #5d6e86;
    color: #5d6e86;
    transition: 0.3s;
  }

  .header-3-1 .btn-outline:hover {
    border: 1px solid #ff7468;
    color: #ff7468;
  }

  .header-3-1 .btn-outline:hover div path {
    fill: #ff7468;
  }

  .header-3-1 .btn-outline:hover div rect {
    stroke: #ff7468;
  }

  .header-3-1 .right-column {
    width: 100%;
  }

  .header-3-1 .hero-right-3-1 {
    right: 2rem;
    bottom: 0;
  }

  .header-3-1 .card-outer {
    padding-left: 0;
    z-index: 1;
  }

  .header-3-1 .card {
    transition: 0.4s;
    top: 0px;
    left: 0px;
    background-color: #f5f5f5;
    padding: 1.25rem;
    border-radius: 0.75rem;
    width: 100%;
    margin-top: 2.5rem;
  }

  .header-3-1 .card:hover {
    top: -3px;
    left: -3px;
    transition: 0.4s;
  }

  .header-3-1 .card-name {
    font: 600 1rem/1.5rem Poppins, sans-serif;
    margin-bottom: 0.25rem;
  }

  .header-3-1 .card-job {
    font: 300 0.75rem/1rem Poppins, sans-serif;
    color: #aaa6a6;
    margin-bottom: 0;
  }

  .header-3-1 .card-price-left {
    font: 500 1rem/1.5rem Poppins, sans-serif;
    margin-bottom: 0.125rem;
    color: #4e91f9;
  }

  .header-3-1 .card-caption {
    font: 300 0.75rem/1rem Poppins, sans-serif;
    color: #aaa6a6;
    margin-bottom: 0;
  }

  .header-3-1 .card-price-right {
    font: 500 1rem/1.5rem Poppins, sans-serif;
    margin-bottom: 0.125rem;
    color: #1b8171;
  }

  .header-3-1 .btn-hire {
    font: 600 1rem/1.5rem Poppins, sans-serif;
    padding: 0.75rem 4rem;
    border-radius: 0.75rem;
    margin-bottom: 0.125rem;
    border: 1px solid #ff7468;
    background-color: #ff7468;
    transition: 0.3s;
  }

  .header-3-1 .btn-hire:hover {
    background-color: #ff8378;
    border: 1px solid #ff8378;
  }

  .header-3-1 .form {
    border-radius: 999px;
    background-color: #e8f1ff;
    box-sizing: border-box;
    font-size: 14px;
    padding: 0rem 1rem;
    padding-right: 0.5rem;
    outline: none;
  }

  .header-3-1 .form div input[type="text"] {
    background-color: #e8f1ff;
    box-sizing: border-box;
    font-size: 14px;
    padding: 0rem 0.5rem;
    outline: none;
    width: 100%;
  }

  .header-3-1 .center-search {
    bottom: 0.5rem;
  }

  @media (min-width: 576px) {
    .header-3-1 .modal-item .modal-dialog {
      max-width: 95%;
      border-radius: 12px;
    }

    .header-3-1 .navbar {
      padding: 2rem;
    }

    .header-3-1 .title-text-big {
      font-size: 3rem;
      line-height: 1.2;
    }
  }

  @media (min-width: 768px) {
    .header-3-1 .navbar {
      padding: 2rem 4rem;
    }

    .header-3-1 .hr {
      padding-left: 4rem;
      padding-right: 4rem;
    }

    .header-3-1 .hero {
      padding: 4rem;
    }

    .header-3-1 .left-column {
      margin-bottom: 3rem;
    }

    .header-3-1 .hero-right-3-1 {
      right: 4rem;
    }

    .header-3-1 .card {
      margin-left: auto;
      margin-top: 0;
    }
  }

  @media (min-width: 992px) {

    .header-3-1 .navbar-light .navbar-nav .active:before {
      content: "";
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      text-align: center;
      bottom: 0;
      height: 0px;
      width: 80%;
      /* or 100px */
      border-bottom: 2px solid #ff7468;
    }

    .header-3-1 .navbar {
      padding: 2rem 6rem;
    }

    .header-3-1 .navbar-light .navbar-nav .nav-link {
      padding: 0;
      margin-right: 1rem;
      margin-left: 1rem;
    }

    .header-3-1 .navbar-light .navbar-nav .active:before {
      width: 40%;
    }

    .header-3-1 .hr {
      padding-left: 6rem;
      padding-right: 6rem;
    }

    .header-3-1 .hero {
      padding: 4rem 6rem 5rem;
    }

    .header-3-1 .left-column {
      width: 50%;
      margin-bottom: 0;
    }

    .header-3-1 .title-text-big {
      font-size: 3.75rem;
      line-height: 1.25;
    }

    .header-3-1 .right-column {
      width: 50%;
    }

    .header-3-1 .hero-right-3-1 {
      right: 6rem;
    }

    .header-3-1 .card-outer {
      padding-left: 4rem;
    }

    .header-3-1 .center-search {
      left: 48%;
      top: 50%;
      bottom: auto;
      transform: translate(-48%, -50%);
    }

    .header-3-1 .form {
      width: 340px;
    }
  }

  @media (max-width: 1023px) {
    .header-3-1 .form div input[type="text"] {
      width: 100%;
    }
  }
